.listContainer {
  background-color: #00800080;
  padding: 0;
}

.stockPreview {
  background-color: #ffffffe6;
  margin: 10px 0;
  border-radius: 10px;
}

.stockPreview button {
  animation: 1s infinite alternate breathe;
}

@keyframes breathe {
  from {
    box-shadow: 1px 2px 3px #fff;
  }

  to {
    box-shadow: none;
  }
}
